{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
    <div class="xplore">
        <div class="content1 text-center">
            <h1 class="pb-3" style="font-size:5vw">Step 2</h1>
            <h3 class="pb-3" >Student Feedback Analysis</h3>
            <p>Hi, To continue please provide us with your stream and detailed feedback about your stream</p>
        </div>
        <div class="container">
            <form action="{{ url_for('explore') }}" method="post" class="was-validated">
                {{ form.hidden_tag() }}
                <div class="content2"> 
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form.stream.label(id="streamlabel") }}
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                {{ form.stream(class='s1stream') }}
                            </div>
                            <div class="col-sm-2">
                            {% for error in form.stream.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>1.Are/were you able to properly finalize your choice of subject stream before opting for it?</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q1" id="option1" value="0" checked>Yes, I have/had properly decided my choice of subject stream.
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q1" id="option2" value="1">No, I will be selecting/selected the subject stream suggested by my parents/guardians/teachers.
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option3">
                                    <input type="radio" class="form-check-input" name="q1" id="option3" value="2">No, I may have/had to select a subject stream according to my marks.
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" >
                                    <input type="radio" class="form-check-input" name="q1" id="options" value="3">No, I will be selecting/selected the subject stream opted by my friends.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>2.Will/did you choose your subject stream according to the subjects of your choice?</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q2" id="option1" value="0" checked>Yes, I have/had properly decided my choice of subject stream.
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q2" id="option2" value="1">No, I chose/will choose a different subject stream.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>3.Did/do you want to consult an education/career counselor before opting for the right stream?</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q3" id="option2" value="0" checked>No, I am/was fine with my choice of stream and have/had no second-thoughts.
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q3" id="option1" value="1" >Yes, it would have been/would be helpful.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>4.Do/did your parents have/had any influence on your decision regarding the selection of streams?</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q4" id="option2" value="0" checked>No, they will allow/allowed me to make my own choice.
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q4" id="option1" value="1" >Yes, they had/have complete influence on my decision of choosing a stream.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>5.Do/did you feel like doing a deep research regarding all the subject streams and where does each one of them lead to?(further studies, careers)</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q5" id="option1" value="0" checked>Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q5" id="option2" value="1">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>6.Would you like browsing a website or an app which helps you to know about all the established as well as offbeat study and career paths?</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q6" id="option1" value="0" checked>Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q6" id="option2" value="1">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                        <h3>7.Have you ever been across an informational website or any other source of information which lets you know everything about the subjects you are passionate about and where would these subjects lead to?</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="option2">
                                    <input type="radio" class="form-check-input" name="q7" id="option2" value="0" checked>Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="option1">
                                    <input type="radio" class="form-check-input" name="q7" id="option1" value="1" >No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container A p-0">
                    <div class="card">
                        <div class="card-header">
                            <h3>8.Was the stream tough for you? Please elaborate</h3> 
                        </div>
                        <div class="card-body">
                            <div class="form-outline">
                                <div class="form-outline">
                                    <textarea class="form-control is-valid"  id="q8" name="q8" minlength="20" placeholder="Minimum 20 characters" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center" id='fsubmit'>
                    <div class="col">
                    {{  form.submit(class = 'btn btn-lg btn-dark mb-3')  }}
                    </div>
                </div>
            </form>
        </div> 
    </div>
    <script src="{{ url_for('static',filename='js/explore.js') }}"></script>
{% endblock %}