{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
    <div class="s1">
       <img src="{{ url_for('static',filename='images/S1.jpeg') }}" alt="S1" class="s1image">
        <div class="content1 text-center">
            <h1 class="pb-3" style="font-size:5vw">Step 1</h1>
            <h3 class="pb-3" >Student login</h3>
            <p>Please enter your name and username for onetime login</p>
        </div>
        <div class="content2"> 
            <form action="{{ url_for('login')}}" method="post" style="text-align:center;display:inline" novalidate>
                {{ form.hidden_tag() }}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                        {{ form.name.label(id="namelabel") }}
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                        {{ form.name(class='s1name') }}
                        </div>
                        <div class="col-sm-2">
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                        {{ form.uname.label(id="namelabel") }}
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                        {{ form.uname(class='s1name') }}
                        </div>
                        <div class="col-sm-2">
                        {% for error in form.uname.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12">
                    {{ form.submit(class='btn btn-light',id="fsubmit") }}
                    </div>
                </div>
            </form> 
        </div>  
    </div>  

{% endblock %}