{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<div class="B">
    <div class="container text-center">
        <div class="content1 text-center pt-5">
            <h1 class="pb-3" style="font-size:5vw">Negative Feedback <span><img src="{{url_for('static',filename='images/thumbdown.png')}}" id="thdw" alt=""></span></h1>
            <p>Upon Analysis your feedback is negative</p>
            <p>Do you wish to continue with the same or explore another</p>
        </div>
    </div>
    <div class="container-fluid">
        <form action="" method="post" style="text-align:center;display:inline">
            <div class="row">  
                <div class="col">  
                    <label>
                        <input type="radio"  name="lstream" value="science" id="lstream" checked> 
                        <img src="{{ url_for('static',filename='images/Science.webp')}}" class="rounded responsive" alt="Science Stream">
                    </label>
                </div>
                <div class="col">  
                    <label>
                        <input type="radio"  name="lstream" value="commerce" id="lstream" >
                        <img src="{{ url_for('static',filename='images/Commerce.jpg')}}" class="rounded responsive" alt="Commerce Stream">
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="radio"  name="lstream" value="humanities" id="lstream" >
                        <img src="{{ url_for('static',filename='images/Humanities.png')}}" class="rounded responsive" alt="Humanitites Stream">
                    </label>
                </div>
            </div>
            <div class="my-5">
                <button type="submit" name="submit" value="submit" class="btn btn-dark btn-lg">Submit</button>
            </div>
        </form>  
    </div>  
</div>
<link rel="stylesheet" href="{{ url_for('static',filename='css/negative.css') }}">
{% endblock %}