{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<div class="R1">
<h1>RECOMMENDER</h1>
</div>
<div class="R4 text-center">
    <h3 class="pt-5">These are the recommended courses for you</h3>
    <h4 class="py-1">Congratulations</h4>
        <ul class="list-group list-group-horizontal-sm justify-content-center">
            <li class="list-group-item list-group-item-primary active">{{RH[0]}}  <span class="badge badge-warning badge-pill">1</span></li>
            <li class="list-group-item list-group-item-secondary">{{RH[1]}}  <span class="badge badge-primary badge-pill">2</span></li>
            <li class="list-group-item">{{RH[2]}}  <span class="badge badge-success badge-pill">3</span></li>
            <li class="list-group-item">{{RH[3]}}  <span class="badge badge-danger badge-pill">4</span></li>
        </ul>
</div>
<div class="R3 text-center" >
    <h3 class="pt-5">Here are our top 5 recommended Udemy courses for you</h3>
    <div class="container-fluid pt-5">
        <div class="card-deck" style="justify-content:center">
            <div class="card mb-2">
                <div class="card-header">
                    <h6>{{session.Cdata[0]}}</h6>
                </div>
                <div class="card-body">
                    <p>Course Rating : {{session.Cdata[1]}}</p>
                    <p>Recommending Score : {{session.Cdata[2]}}</p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h6>{{session.Cdata[3]}}</h6>
                </div>
                <div class="card-body">
                    <p>Course Rating : {{session.Cdata[4]}}</p>
                    <p>Recommending Score : {{session.Cdata[5]}}</p>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
            <div class="card mb-2">
                <div class="card-header">
                    <h6>{{session.Cdata[6]}}</h6>
                </div>
                <div class="card-body">
                    <p>Course Rating : {{session.Cdata[7]}}</p>
                    <p>Recommending Score : {{session.Cdata[8]}}</p>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-2">
                <div class="card-header">
                    <h6>{{session.Cdata[9]}}</h6>
                </div>
                <div class="card-body">
                    <p>Course Rating : {{session.Cdata[10]}}</p>
                    <p>Recommending Score : {{session.Cdata[11]}}</p>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
            <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
            <div class="card mb-2">
                <div class="card-header">
                    <h6>{{session.Cdata[12]}}</h6>
                </div>
                <div class="card-body">
                    <p>Course Rating : {{session.Cdata[13]}}</p>
                    <p>Recommending Score : {{session.Cdata[14]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static',filename='css/recommender.css') }}">
{% endblock content %}