{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<div class="R1">
<h1>RECOMMENDER</h1>
</div>
<div class="R4">
<div class="container text-center">
    <h3 class="pt-5 lead" style="font-family:Times New Roman">Based on your skills and interests</h3>
    <h4 class="py-1"><strong>Top Courses</strong></h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary active">{{FINAL[0]}}  <span class="badge badge-warning badge-pill float-right">1</span></li>
        <li class="list-group-item list-group-item-secondary">{{FINAL[1]}}  <span class="badge badge-primary badge-pill float-right">2</span></li>
        <li class="list-group-item">{{FINAL[2]}}  <span class="badge badge-success badge-pill float-right">3</span></li>
        <li class="list-group-item">{{FINAL[3]}}  <span class="badge badge-danger badge-pill float-right">4</span></li>
    </ul>
</div>
</div>
<div class="R3" >
    <h3 class="pt-5 text-center">Here are our top recommended Udemy courses for you</h3>
    <div class="container-fluid pt-2">
        <div class="row">
            {% if session.CTdata %}
            <div class="col">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                        <th scope="col">Technical</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for i in range(session["CTdata"]|length) %}
                                <tr>
                                <th scope="row">{{ i+1 }}</th>
                                    {% for j in range(3) %}
                                        <td>{{session.CTdata[i][j]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if session.CMdata %}
            <div class="col">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                        <th scope="col">Marketing</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for i in range(session["CMdata"]|length) %}
                                <tr>
                                <th scope="row">{{ i+1 }}</th>
                                    {% for j in range(3) %}
                                        <td>{{session.CMdata[i][j]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if session.CDdata %}
            <div class="col">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                        <th scope="col">Designing</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for i in range(session["CDdata"]|length) %}
                                <tr>
                                <th scope="row">{{ i+1 }}</th>
                                    {% for j in range(3) %}
                                        <td>{{session.CDdata[i][j]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        
                </table>
            </div>
            {% endif %}
            {% if session.CBdata %}
            <div class="col">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                        <th scope="col">Business</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for i in range(session["CBdata"]|length) %}
                                <tr>
                                <th scope="row">{{ i+1 }}</th>
                                    {% for j in range(3) %}
                                        <td>{{session.CBdata[i][j]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>  
        {% if session.CFdata %}
        <div>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                    <th scope="col">Finance</th>
                    <th scope="col">Courses</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    
                        {% for i in range(session["CFdata"]|length) %}
                            <tr>
                            <th scope="row">{{ i+1 }}</th>
                                {% for j in range(3) %}
                                    <td>{{session.CFdata[i][j]}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    
                </tbody>  
            </table>
        </div>
        {% endif %}
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static',filename='css/recommender.css') }}">
<script src="{{ url_for('static',filename='js/recommender.js') }}"></script>
{% endblock content %}