{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<div class="s2">
    <div class="cont1 text-center">
        <h1 class="pb-3" style="font-size:5vw">Step 3</h1>
    <div class="container">
        <h3 class="pb-3" >Student Survey Science</h3>
        <p>This is a survey regarding the career options that you have chosen. 
        This survey will mainly collect your academic details, 
        your levels of intelligence and emotional quotient, 
        and your interest in your current career. 
        We value your privacy, and we assure you that none of your details will be shared with a third party.
        Please fill honestly for accurate results.</p>
    </div>
    </div>
    <form action="" method="post" data-toggle="validator">
            {{ form.hidden_tag() }}
        <div class="container scibord" data-spy="scroll" data-target=".navbar" data-offset="50">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">  
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="#section1">Grades</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#section2">IQ Test</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#section3">Personality Test</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#section4">Memory Test</a>
                    </li>
                </ul>
            </nav>
            <div id="section1" class="container" style="padding-top:70px;padding-bottom:70px">
                <div><hr id="line1"></div>
                <div style="position: relative;bottom: 19px;">
                    <h4>
                        <span class="badge badge-info">Section 1 of 4</span>
                    </h4>
                </div> 
                    <div class="text-center">
                    <h2>Select your class XII Grades</h2>
                    <p>Pick grade X if not applicable</p>
                    </div>
                <div class="row no-gutters text-center">
                    <div class="col-md">
                        {% if session.stream == 'Science' %}
                            <h6>PHYSICS</h6>
                            {% elif session.stream == 'Commerce' %}
                            <h6>ACCOUNTANCY</h6>
                            {% else %}
                            <h6>HISTORY</h6>
                        {% endif %}
                        <p>{{ form.sub1(id="sub") }}</p> 
                    </div>
                    <div class="col-md">
                        {% if session.stream == 'Science' %}
                            <h6>CHEMISTRY</h6>
                            {% elif session.stream == 'Commerce'%}
                            <h6>BUSINESS STUDIES</h6>
                            {% else %}
                            <h6>ECONOMICS</h6>
                        {% endif %}
                        <p>{{ form.sub2(id="sub") }}</p> 
                    </div>
                    <div class="col-md">
                    {% if  session.stream == 'Science' %}
                        <h6>MATHS </h6>
                        {% elif session.stream == 'Commerce'%}
                        <h6>ECONOMICS</h6>
                        {% else %}
                        <h6>SOCIOLOGY</h6>
                    {% endif %}
                        <p>{{ form.sub3(id="sub") }}</p> 
                    </div>
                </div>
                <div class="row no-gutters text-center">
                    <div class="col-md">
                        {% if  session.stream == 'Science'%}
                            <h6>BIOLOGY</h6>
                            {% elif session.stream == 'Commerce' %}
                            <h6>INFORMATION PRACTICES</h6>
                            {% else %}
                            <h6>GEOGRAPHY</h6>
                        {% endif %}
                        <p>{{ form.sub4(id="sub") }}</p> 
                    </div>
                    <div class="col-md">
                        {% if  session.stream == 'Science'%}
                            <h6>COMPUTER</h6>
                            {% elif session.stream == 'Commerce' %}
                            <h6>LEGAL STUDIES</h6>
                            {% else %}
                            <h6>POLITICAL SCIENCE</h6>
                        {% endif %}
                        <p>{{ form.sub5(id="sub") }}</p> 
                    </div>
                    <div class="col-md">
                        <h6>LANGUAGE</h6>
                        <p>{{ form.sub6(id="sub") }}</p> 
                    </div>
                </div>
            </div>
            <div id="section2" class="container" style="padding-top:70px;padding-bottom:70px">
                <div>
                    <hr id="line1">
                </div>
                <div style="position: relative;bottom: 19px;">
                    <h4>
                        <span class="badge badge-info">Section 2 of 4</span>
                    </h4>
                </div> 
                <div class="text-center" id="gradehead">
                    <h2>IQ Test</h2>
                    <p>This section deals with your intelligence.</p>
                </div>
                <div class="row"><!--iq1-->
                    <div class="col-md-8">
                        <h5>1. Count the number of triangles and squares in the given figure</h5>
                        <div class="row">
                            <div class="col-md">
                            {{ form.iq1(id="iq1",style="list-style:none") }}
                            {{ form.iq1.label(id="iq1label") }}
                            </div>
                            <div class="col-md">
                                {% for error in form.iq1.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="{{ url_for('static',filename='images/iq1.png')}}"  alt="IQ1">
                    </div>
                </div>
                <div class="row"><!--iq2-->
                    <div class="col-md">
                        <h5>2. What  is  the  next  number in  the  series 0,6,24,60,120,210, ___</h5>
                        <div class="row">
                            <div class="col-md">
                            {{ form.iq2(id="iq2",style="list-style:none") }}
                            {{ form.iq2.label(id="iq2label") }}
                            </div>
                            <div class="col-md">
                                {% for error in form.iq2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><!--iq3-->
                    <div class="col-md-8">
                        <h5>3. Count the number of triangles in the given figure</h5>
                        <div class="row">
                            <div class="col-md">
                            {{ form.iq3(id="iq3",style="list-style:none") }}
                            {{ form.iq3.label(id="iq3label") }}
                            </div>
                            <div class="col-md">
                                {% for error in form.iq3.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="{{ url_for('static',filename='images/iq3.png')}}" alt="IQ1">
                    </div>
                </div>
                <div class="row"><!--iq4-->
                    <div class="col-md">
                        <h5>4. What  is  the  next  number in  the  series  2,5,9,19,37, ?</h5>
                        <div class="row">
                            <div class="col-md">
                            {{ form.iq4(id="iq4",style="list-style:none") }}
                            {{ form.iq4.label(id="iq4label") }}
                            </div>
                            <div class="col-md">
                                {% for error in form.iq4.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><!--iq5-->
                    <div class="col-md">
                        <h5>5.Which set of symbols should replace the question marks? 
                            <span>
                            <img src="{{ url_for('static',filename='images/iq5Q.png')}}" style="width:100%" alt="IQ5Q">
                            </span> 
                        </h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md">
                            <tr>
                            <td>{{ form.iq5(id="iq5",style="list-style:none") }}</td> 
                            <td>{{ form.iq5.label(id="iq5label") }}</td> 
                            </tr>
                            </div>
                            <div class="col-md">
                                {% for error in form.iq5.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center">
                        <img src="{{ url_for('static',filename='images/iq5O.png')}}" style="width:250px;height:auto;" alt="IQ5O">
                        </div>
                    </div>
                </div>
                <div class="row"><!--iq6-->
                    <div class="col-md">
                        <h5>6. Which number is the odd one out?</h5>
                        <div class="row">
                            <div class="col-md">
                                <tr>
                                    <td>{{ form.iq6(id="iq5",style="list-style:none") }}</td>
                                    <td>{{ form.iq6.label(id="iq5label") }}</td>
                                </tr>
                            </div>
                            <div class="col-md">
                                {% for error in form.iq6.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><!--iq7-->
                    <div class="col-md">
                        <h5>7. Which is the larger fraction?</h5>
                        <div class="row">
                            <div class="col-md">
                                <tr>
                                    <td>{{ form.iq7(id="iq5",style="list-style:none") }}</td>
                                    <td>{{ form.iq7.label(id="iq5label") }}</td>
                                </tr>
                            </div>
                            <div class="col-md">
                                {% for error in form.iq7.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div><!--iq8-->
                    <h5>8. Which is the missing section?</h5>
                </div>
                <div class="row">
                    <div class="col-md">
                        {{ form.iq8(id="iq8",style="list-style:none") }}
                        {{ form.iq8.label(id="iq8label") }}
                    </div>
                    <div class="col-md">
                        <img src="{{ url_for('static',filename='images/iq8Q.png')}}" style="width:100%%;width:250px;height:auto;" alt="IQ9Q">
                    </div>
                    <div class="col-md">
                        <img src="{{ url_for('static',filename='images/iq8O.png')}}" style="width:100%%;width:250px;height:auto;" alt="IQ9O">
                    </div>
                    <div class="col-md">
                        {% for error in form.iq8.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div>
                <h5>9. Which does not belong in this sequence ?</h5>
                <div class="row mt-3"><!--iq9-->
                    <div class="col-md">
                        {{ form.iq9(id="iq9",style="list-style:none;display:inline-;") }}
                        {{ form.iq9.label(id="iq9label") }}
                    </div>
                    <div class="col-md">
                        <img src="{{ url_for('static',filename='images/iq9Q.png')}}" style="width:100%%;width:300px" alt="IQ9O">
                    </div>
                    <div class="col-md">
                        {% for error in form.iq7.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                </div>
                <div><!--iq10-->
                    <h5>10.What number should replace the question mark?</h5>
                    <div class="row">
                        <div class="col-md">
                            {{ form.iq10.label(id="iq10label") }}
                            {{ form.iq10(id="iq10",style="list-style:none") }}
                        </div>
                        <div class="col-md">
                            <img src="{{ url_for('static',filename='images/iq10Q.png')}}" style="width:100%;" alt="IQ10Q">
                        </div>
                        <div class="col-md">
                        {% for error in form.iq7.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="section3" class="container" style="padding-top:70px;padding-bottom:70px">
                <div>
                    <hr id="line1">
                </div>
                <div style="position: relative;bottom: 19px;">
                    <h4>
                        <span class="badge badge-info">Section 3 of 4</span>
                    </h4>
                </div>
                <div class="text-center" id="gradehead">
                    <h2>Personality Questionnaire</h2>
                    <p>This section deals with your emotional intelligence.</p>
                    <div class="row mb-2">  <!--Personality Questionnaire -->
                        <div class="col mb-2">  
                        <select class="selectpicker" data-selected-text-format="count" data-width="75%" data-style="btn-dark" multiple  title="Do you experience any of the below?" name="pq1" required>
                            <option >I enjoy being the center of attention</option>
                            <option >I feel comfortable around people</option>
                            <option >I take time out for others</option>
                            <option >I usually feel other's emotions</option>
                            <option >I believe others have good intentions</option>
                        </select>
                        </div>
                        <div class="col mb-2">
                        <select class="selectpicker" data-selected-text-format="count" data-width="75%" data-style="btn-dark" multiple title="Do you experience any of the below?" name="pq2" required>
                            <option >I am concerned about how others feel</option>
                            <option >I am considered kind and soft hearted</option>
                            <option >I can easily start conversations</option>
                            <option >I'm skilled in handling social situations</option>
                            <option >I sometimes speak without previous thinking</option>
                        </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col mb-2">
                        <select class="selectpicker" data-selected-text-format="count" data-width="75%" data-style="btn-dark" multiple title="Do you experience any of the below?" name="pq3" required>
                            <option >I pay attention to details</option>
                            <option >I like keeping everything organized</option>
                            <option >I never leave my belongings around</option>
                            <option >I am always prepared</option>
                            <option >I am more analytical than creative</option>
                        </select>
                        </div>
                        <div class="col mb-2">
                        <select class="selectpicker" data-selected-text-format="count" data-width="75%" data-style="btn-dark" multiple title="Do you experience any of the below?" name="pq4" required>
                            <option >I consider myself very creative</option>
                            <option >I enjoy time spent in the nature</option>
                            <option >I consider I have excellent ideas</option>
                            <option >I believe in the importance of art</option>
                            <option >I am quick to understand most things</option>
                        </select>
                        </div>
                    </div>
                        <select class="selectpicker" data-selected-text-format="count" data-width="70%" data-style="btn-dark" multiple title="Do you experience any of the below?"  name="pq5" required>
                            <option >I get irritated easily</option>
                            <option >I am hardly able to relax</option>
                            <option >I get upset frequently</option>
                            <option >I am affected by disappointments in life</option>
                            <option >I feel stressed out most time</option>
                        </select>
                </div>
            </div>
            <input type="hidden" required="required" name="moves" id="form_moves">  
            <input type="hidden" required="required" name="minute" id="form_minute">
            <input type="hidden" required="required" name="second" id="form_second"> 
            <div id="section4" class="container" style="padding-top:70px;padding-bottom:70px">
                <div>
                    <hr id="line1">
                </div>
                <div style="position: relative;bottom: 19px;">
                    <h4>
                        <span class="badge badge-info">Section 4 of 4</span>
                    </h4>
                </div>
                <!--Memory Test -->
                <div class="container Mem">
                        <h1>Memory Test</h1>
                    <section class="score-panel">
                        <span class="moves">0</span> Move(s)
                        <div class="timer"></div>
                    </section>
                    <ul class="deck" id="card-deck">
                        <li class="card" type="car">
                            <i class="fa fa-car"></i>
                        </li>
                        <li class="card" type="horn">
                            <i class="fa fa-bullhorn"></i>
                        </li>
                        <li class="card" type="bolt" >
                            <i class="fa fa-bolt"></i>
                        </li>
                        <li class="card" type="cube">
                            <i class="fa fa-cube"></i>
                        </li>
                        <li class="card" type="bomb">
                            <i class="fa fa-bomb"></i>
                        </li>
                        <li class="card" type="rocket">
                            <i class="fa fa-rocket"></i>
                        </li>
                        <li class="card" type="bug">
                            <i class="fa fa-bug"></i>
                        </li>
                        <li class="card" type="bomb">
                            <i class="fa fa-bomb"></i>
                        </li>
                        <li class="card open show" type="bolt">
                            <i class="fa fa-bolt"></i>
                        </li>
                        <li class="card" type="cube">
                            <i class="fa fa-cube"></i>
                        </li>
                        <li class="card" type="calculator">
                            <i class="fa fa-calculator"></i>
                        </li>
                        <li class="card" type="car">
                            <i class="fa fa-car"></i>
                        </li>
                        <li class="card" type="rocket">
                            <i class="fa fa-rocket"></i>
                        </li>
                        <li class="card" type="bug">
                            <i class="fa fa-bug"></i>
                        </li>
                        <li class="card" type="horn">
                            <i class="fa fa-bullhorn"></i>
                        </li>
                        <li class="card" type="calculator">
                            <i class="fa fa-calculator"></i>
                        </li>
                    </ul>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>Congratulations 🎉</h2>
                            <a class="close">×</a>
                            <div class="content-1">
                                Congratulations you're a winner 🎉🎉
                            </div>
                            <div class="content-2">
                                <p>You made <span id="finalMove"> </span> moves </p>
                                <p>in <span id="totalTime"> </span> </p>
                                <!-- <p>Rating:  <span id=starRating></span></p> -->
                            </div>
                            <!--
                            <button id="play-again"onclick="playAgain()">
                                Play again 😄</a>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{ url_for('static',filename='js/paths.js')}}"></script>
            <div>
                <hr id="line1">
            </div>
            <div class="text-center" id="submitfinal">
                <button type="submit" class="btn btn-dark btn-lg mb-5 px-5" onclick="passfunction()">Submit</button> 
            </div>
        </div>
    </form>
</div>


{% endblock content %}